<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Vue ToDo List</title>
  <link rel="stylesheet" href="css/master.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>

<body>

  <div id="todo__list">
    <ul>
      <li v-for="(item, index) in lista">{{item}} <span @click="deleteItem(index)">X</span></li>
    </ul>

    <input type="text" placeholder="Inserisci un elemento" v-model="listaAdd" @keyup.13="addItem">
    <button @click="addItem" type="button" name="button">add</button>
  </div>


  <script src="js/script.js"></script>

</body>

</html>
